@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.home, 
.about, 
.projects {
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-color: #212529;
}

.Introduction {
    display: flex;
    justify-content: space-evenly;
    row-gap: 30px;
    align-items: center;
    flex-direction: row;
}

.Intro {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;

}

.proPic {
    display: flex;
    width: 12%;
    border-width: 400;
    border-radius: 400 / 2;
    padding-right: 20px;
    padding-top: 10px;
}

.Interest {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.codeSymbol {
    width:10%;
    padding-left: 10px;
}

.Thinkful {
    display: flex;
    justify-content: space-evenly;
    row-gap: 30px;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.thinkfulLogo {
    width: 10%;
    padding-right: 10px;
}

.Projects{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footer {
    background-color:#6a040f;
    border-color: #6a040f;
    border-radius: 5px;
}